/*
  Custom CSS template for ioslides

Author: Matteo Courthoud
Repo: https://github.com/matteocourthoud/ioslides-theme
*/
  
  /* Import google fonts */
  @import url('https://fonts.googleapis.com/css?family=Lora|Open+Sans&display=swap');

/* Slide: change font */
  slides > slide {
    font-family: 'Source Sans Pro', sans-serif;
    overflow: scroll;
  }

/* Slide: text color black */
  slides > slide > article {
    color: black;
    font-weight: 300;
  }

/* Slide: transition slides white */
  slides > slide.dark {
    background-color: white !important;
  }

/* Header: change color */
  h1 {
    color: #003f5c !important;
  }
h2 {
  color: #003f5c !important;
}

/* Header: underline section slides */
  .auto-fadein {
    width: 70%;
  }
.auto-fadein > h1 {
  border-bottom: 2px solid grey;
  padding-bottom: 10px;
}
.auto-fadein > h2 {
  border-bottom: 2px solid grey;
  padding-bottom: 10px;
}

/* References: text color white
.csl-entry p {
  color: white;
}
*/
  
  /* Citations: colored */
  .cite {
    color: #2b7ddf;
  }

/* Center Images */
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
    max-width: 100%;
  }

/* Unordered list style */
  
  /* First level */
  ul > li:before {
    content: '';
  }
ul > li {
  list-style-type: disc;
}

/* Second level */
  ul > li > ul > li:before {
    content: '';
  }
ul > li > ul > li {
  list-style-type: circle;
}


/* Code */
  pre {
    width: auto !important;
    left: 0px !important;
    padding: 10px 20px 10px 20px !important;
    border-radius: 5px !important;
    border-color: #adb5bd !important;
      border-width: thin !important;
    border-style: solid !important;
  }

pre.prettyprint {
  background-color: #f8f8f8 !important;
}


