/* logo on title slide*/

.gdbar img {
  width: 300px !important;
  height: 300px !important;
  left: initial;
  right: 0;
}

.gdbar {
  width: 1000px !important;
  height: 350px !important;
}

aside.gdbar {
 left: initial;
 right: 0;
 top: initial;
 bottom: 1px !important;
}

/*logo footer*/
slides > slide:not(.nobackground):before {
  width:60px;
  height: 60px;
  background-size: 65px 65px;
  left:initial;
  right:1px;
  top: 1px;
  bottom: initial;
}

/* Code */
  pre {
    width: auto !important;
    left: 0px !important;
    padding: 10px 20px 10px 20px !important;
    border-radius: 5px !important;
    border-color: #adb5bd !important;
      border-width: thin !important;
    border-style: solid !important;
  }

pre.prettyprint {
  background-color: #f8f8f8 !important;
}


slides > slide.backdrop {
  background: white;
}


.section .reveal h1,
.section .reveal h2,
.section .reveal p {
  color: blue;
}