

/* Code */
  pre {
    width: auto !important;
    left: 0px !important;
    padding: 10px 20px 10px 20px !important;
    border-radius: 5px !important;
    border-color: #adb5bd !important;
      border-width: thin !important;
    border-style: solid !important;
  }

pre.prettyprint {
  background-color: #f8f8f8 !important;
}
