/* logo on title slide*/

.gdbar img {
  width: 300px !important;
  height: 300px !important;
  left: initial;
  right: 0;
}

.gdbar {
  width: 1000px !important;
  height: 350px !important;
}

aside.gdbar {
 left: initial;
 right: 0;
 top: initial;
 bottom: 1px !important;
}

/*logo footer*/
slides > slide:not(.nobackground):before {
  width: 100px;
  height: 100px;
  background-size: 110px 110px;
}

/* Code */
  pre {
    width: auto !important;
    left: 0px !important;
    padding: 10px 20px 10px 20px !important;
    border-radius: 5px !important;
    border-color: #adb5bd !important;
      border-width: thin !important;
    border-style: solid !important;
  }

pre.prettyprint {
  background-color: #f8f8f8 !important;
}
